{{> navbar}}
<div class="container mt-3">
  <div class="d-flex align-items-center gap-3">
    <img
      class="img-thumbnail"
      src="/img/yisus.jpg"
      alt="Trabajo"
      width="250"
    >
    <div>
      <h2>Videogame is Love, Videogame is Life</h2>
      <p>
        ¿Le parece a usted que el mundo está plagado de Haters? 
        Muchas personas demuestran su frustración por ser manco de formas muy crueles. 
        Por ejemplo, discriminan, acosan, insultan o agreden a otros online. 
        ¿Es posible vencer el odio? Este Blog te mostrara que los videojuegos
        puede ayudarnos a romper el ciclo del odio y el estres 
        y que el Crossplay pronto acabará con las barreras digitales.
      </p>
    </div>
  </div>
  {{> backhome}}
</div>