{{> navbar}}
<div class="container mt-3">
  <img
      class="img-thumbnail"
      src="/img/yisus-deleted.jpeg"
      alt="deleted"
      width="250"
    >
    <hr>
  <h3>Se ha eliminado con éxito el artículo "{{gameName}}" ({{id}})</h3>
  {{> backhome}}
</div>