<nav class="navbar navbar-light" style="background-color: #1bfa39;">
  <div class="container d-flex justify-content-between">
    <a href="/" class="text-decoration-none">
      <span class="navbar-brand mb-0 h1">El AtalayA</span>
    </a>
    <a href="/game/create">
      <button class="btn btn-outline-dark btn-sm">
        <i class="fas fa-plus"></i>
        Ingresar Trabajo Pendiente
      </button>
    </a>
  </div>
</nav>